@import "@green-code-studio/context-menu/src/contextMenu.scss";

data-view {
    border: 1px solid var(--second);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    user-select: none;


    table-view {
        display: block;
        flex-grow: 1;
        overflow: auto;
        --rowHeight: 41px;

        .bodyContainer {

        }

        .head {
            position: sticky;
            top: 0;
            z-index: 1;
            height: 19px;
            background: var(--second);

            .column {
                background: var(--second);
                color: var(--textSecondColor);
                cursor: default;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                position: absolute;
                padding: 0 10px;
                box-sizing: border-box;
                height: 19px;

                &.ableToSort {
                    //@extend .icon;
                    //@extend .icon-down;
                    cursor: pointer;

                    &::before {
                        transform: scaleY(0);
                        transition: all 300ms ease-out;
                        position: absolute;
                        right: 0;
                    }

                    &[data-order="asc"] {
                        &::before {
                            transform: scaleY(1);
                        }
                    }

                    &[data-order="desc"] {
                        &::before {
                            transform: scaleY(-1);
                        }
                    }

                    .tableCopy {
                        display: none;
                    }

                }


            }
        }

        .body {
            position: relative;

            .tr {
                display: flex;
                position: absolute;
                transition: top 300ms ease, background 100ms;
                table-layout: fixed;
                flex-direction: row;
                animation: data-view-appear 200ms;

                @keyframes data-view-appear {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1
                    }
                }


                &.selectedMain, &:focus {
                    outline: 2px black dashed;
                    outline-offset: -2px;
                }

                .td {
                    padding: 5px 10px;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    flex: 0 0 auto;
                    box-sizing: border-box;
                    height: var(--rowHeight);

                    button, .button {
                        font-size: 16px;
                        margin-left: 2px;
                    }

                    &.actions {
                        display: flex;
                    }
                }
            }
        }


    }

    list-view {
        display: block;
        flex-grow: 1;
        overflow: auto;

        .body {
            position: relative;

            .tr {
                display: grid;
                position: absolute;
                transition: top 300ms ease, background 100ms;
                animation: data-view-appear 200ms;
                grid-template-columns: max-content 1fr max-content;
                width: 100%;
                padding: 10px 0;


                &.selectedMain, &:focus {
                    outline: 2px black dashed;
                    outline-offset: -2px;
                }

                button, .button {
                    font-size: 16px;
                    margin-left: 2px;
                }

                .icon {
                    grid-column: 1;
                    grid-row: 1/4;
                    font-size: 40px;
                    line-height: 63px;
                }

                .keyValue {
                    grid-column: 2/4;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 21px;


                    &:nth-child(2), &:nth-child(3) {
                        grid-column: 2;
                    }
                }

                .actions {
                    grid-column: 3;
                    grid-row: 1/3;
                }
            }
        }
    }

    .foot {
        border-top: 1px solid var(--second);
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
            form {
                input {
                    width: 40px;

                    &:focus {
                        width: 200px;
                        margin-left: -160px;
                    }
                }
            }
        }
    }

    pagination-buttons {
        flex: 1 1;
        display: flex;
        justify-content: center;
    }

    &.infiniteScrollEnabled {
        table-view, list-view {
            .body {
                height: var(--height);
            }
        }

        pagination-buttons {
            display: none;
        }
    }
}

pagination-buttons {
    button.active {
        background: var(--main);
    }
}
